<div class="wrapper_with_padding">
    <div id='docs' class='clearfix'>
        <% unless @docs.blank? %>
            <% @docs.each do |doc| %>
                <div class="doc">
                    <p class='doc title'><%= link_to doc.title, doc %></p>
                    <p class='date'><%= time_ago_in_words(doc.created_at) %></p>
                    <p class = 'content'><%= truncate(doc.content, length:50) %></p>
                    <p><%#= doc.user.email if doc.user_id  %></p>
                </div>
            <% end  %>
        <% else %> 
            <h2>Create Doc!</h2>
            <p>Start Organizing Your Life....</p>
            <%= link_to "Create Doc", new_doc_path %>
        <% end %>
    </div>
</div>
